.contact{
    width: 1000px;
    display: flex;
    margin: 30px auto;
    justify-content: space-between;
}

.page-title{
    height:100px;
    background-color: blue;
    font-size: 38px;
    margin: 0 auto 30px;
  }